@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-screen h-screen flex justify-center items-center font-comfortaa bg-white pt-[17vw];
}

/* CUSTOM STYLE GROUPS */
.c-home-slider-sections {
  @apply w-full flex flex-col gap-[4vw] mt-[12vw];
}
.c-h2 {
  @apply w-full text-[6vw] pl-[5vw];
}

/* SWIPER  */
.swiper {
  @apply w-[90%] h-slider;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-customOrange text-[8vw];
}
.swiper-pagination-bullet-active {
  @apply bg-customOrange;
}

/* MOBILE MENU SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  @apply hidden;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow-black {
  text-shadow: 0px 0px 3px black, 0 0px 3px black, 0 0 3px black, 0 0 3px black;
}
